
trigger:
  - main
  - feature/*

pool:
  name: 'targetpool'   # self-hosted agent pool name

steps:
- task: PowerShell@2
  displayName: install
  inputs:
    targetType: 'inline'
    script: |
      npm install

- task: SonarQubePrepare@8
  inputs:
    SonarQube: 'sonar k liye'
    scannerMode: 'cli'
    configMode: 'file'


- task: PowerShell@2
  displayName: build
  inputs:
    targetType: 'inline'
    script: 'npm run build'

- task: ArchiveFiles@2
  displayName: "Archive build output"
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)\build'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)\$(Build.BuildId).zip'
    replaceExistingArchive: true

- task: DownloadPipelineArtifact@2
  inputs:
    buildType: 'current'
    artifactName: 'arpan artifactory'
    itemPattern: 'build.zip'
    targetPath: '$(Pipeline.Workspace)'