
trigger:
  - main
  - feature/*

pool:
  name: 'targetpool'   # self-hosted agent pool name

steps:
- task: PowerShell@2
  displayName: install
  inputs:
    targetType: 'inline'
    script: |
      npm install

- task: SonarQubePrepare@8
  inputs:
    SonarQube: 'sonar k liye'
    scannerMode: 'cli'
    configMode: 'manual'
    cliProjectKey: 'react-app'
    cliProjectName: 'react-app'
    cliSources: 'src'
    extraProperties: |
      sonar.sourceEncoding=UTF-8
      sonar.javascript.lcov.reportPaths=coverage/lcov.info


- task: PowerShell@2
  displayName: build
  inputs:
    targetType: 'inline'
    script: 'npm run build'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(System.DefaultworkingDirectory)\build'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(System.DefaultworkingDirectory)\build.zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'react ka project'
    publishLocation: 'Container'